<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>issuerCardId</key>
	<string>REPLACE WITH ISSUER CARD ID</string>
	<key>btCardId</key>
	<string>REPLACE WITH BASIS THEORY CARD ID</string>
	<key>proxyKey</key>
	<string>REPLACE WITH CREATED PROXY KEY</string>
	<key>btPublicKey</key>
	<string>REPLACE WITH BASIS THEORY PUBLIC API KEY</string>
</dict>
</plist>
